body {
    font-family: Arial, sans-serif;
    margin: 10px;
    background-image: url("compras.png");
}

h1 {
    text-align: center;
}

#productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 12px;
}

.producto {
    border: 1px solid #1f1c1c;
    border-radius: 15px;
    padding: 15px;
    margin: 10px;
    width: 150px;
    text-align: center;
}

#carrito {
    border: 1px solid #7e7c7c;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

#lista-compra {
    list-style-type: none;
    padding: 0;
}

#lista-compra li {
    margin-bottom: 15px;
}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    border-radius: 8px;
    color: white;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12spx;
}
